# 004_results
intermediate
003_decompressed_samples
002_compressed_samples
.vs
*.ilk
*.pdb
*.exe
# *.csv
006_decompressed_samples_PC
005_compressed_samples_PC
005_compressed_samples_PC_qxy
006_decompressed_samples_PC_qxy
008_decompressed_samples_PC
007_compressed_samples_PC
009_compressed_samples_codecs
001_ViSQOL/HC
001_ViSQOL/original_audio_mode
001_ViSQOL/original_speech_mode
001_ViSQOL/temp
004_results/Compression_time_milliseconds
004_results/Decompression_time_milliseconds
